h1 {   
    background-color: blueviolet;
    text-align: center;
    }
    
    h1{
    color: antiquewhite;
    }
    
    .banana {
     color: aqua 
    }
    
    .minions {
      color:red
    }